<div class="container">
  <h1 class="title">Tags</h1>
  <p style="color: green"><%= notice %></p>

  <div id="tags">
      <table class="table">
      <% @tags.each do |tag| %>
        <tr id="<%= dom_id tag %>">
          <%= render tag %>
        </tr>
      <% end %>
      <table>
  </div>

  <%= link_to "New tag", new_tag_path %>
</div>